#locations {
    min-height: 40rem;
    max-height: 40rem;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-top: 6px;
    margin-bottom: 6px;

}
.r-container {
    max-width: 1900px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
body{
    /* background-image: url("https://images.unsplash.com/photo-1444927714506-8492d94b4e3d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9a84a5ba38587d42a1069b494255cc68&auto=format&fit=crop&w=1000&q=60"); */
    background-repeat:no-repeat;
    background-size:cover;
    color: #000000
}

.container input[type=text]{
    /* width: 250px;
    height: 40px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 5px;
    bottom: -400px;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-top: 6px; */
    
    
}

::placeholder { 
    /* color: rgb(255, 255, 255);
    opacity: 1;  */
}

